.basicLightbox{position:fixed;display:flex;justify-content:center;align-items:center;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.8);opacity:.01;transition:opacity .4s ease;z-index:1000;will-change:opacity}.basicLightbox--visible{opacity:1}.basicLightbox__placeholder{max-width:100%;-webkit-transform:scale(.9);transform:scale(.9);transition:-webkit-transform .4s ease;transition:transform .4s ease;transition:transform .4s ease,-webkit-transform .4s ease;z-index:1;will-change:transform}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:95%;max-height:95%}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{pointer-events:auto}.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{width:auto;height:auto}.basicLightbox--iframe .basicLightbox__placeholder,.basicLightbox--img .basicLightbox__placeholder,.basicLightbox--video .basicLightbox__placeholder{width:100%;height:100%;pointer-events:none}.basicLightbox--visible .basicLightbox__placeholder{-webkit-transform:scale(1);transform:scale(1)}

@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/maax-webfont.woff2') format('woff2'),
        url('../fonts/maax-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 500;
  font-display: swap;
  src:  url('../fonts/maax-medium-webfont.woff2') format('woff2'),
        url('../fonts/maax-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Maax-Bold';
    font-weight: 700;
    font-display: swap;
    src:  url('../fonts/maax-bold-webfont.woff2') format('woff2'),
          url('../fonts/maax-bold-webfont.woff') format('woff');
}

html, body {
    overscroll-behavior-x: none;
    font-family: 'Maax-Regular';
}

.multiVit,
.multiVit__popover {
    --mv-fs-1: clamp(18px, 5vw, 32px);
    --mv-fs-2: clamp(16px, 5vw, 22px);
    --mv-space-1: clamp(20px, 5vw, 40px);
    --mv-space-2: clamp(15px, 5vw, 30px);
}

.multiVit {
    max-width: 1160px;
    margin: 0 auto;
    padding: var(--mv-space-1);
    background-color: $blue-light;
    p, ol {
        @extend %flatten;
        margin-bottom: 1.62em
    }
    &__hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: clamp(250px, 5vw, 400px);
        margin: calc(-1 * var(--mv-space-1)) calc(-1 * var(--mv-space-1)) var(--mv-space-1) calc(-1 * var(--mv-space-1));
        padding: var(--mv-space-1);
        text-align: center;
        transform: translateZ(0);
        @include breakpoint (desktop) {
            margin: 0 0 var(--mv-space-1);
        }
        h1 {
            font-family: 'Maax-Bold';
            font-size: var(--mv-fs-1);
            line-height: 1.25;
            text-transform: uppercase;
        }
        img {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__copy {
        padding: var(--mv-space-1);
        font-size: var(--mv-fs-3);
    }
    &__blocks {
        display: grid;
        gap: var(--mv-space-1);
        margin-top: var(--mv-space-1);
        @include breakpoint (desktop) {
            grid-template-columns: repeat(2, 1fr);
        }
        &-block {
            display: flex;
            transform: translateZ(0);
            position: relative;
            &::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
            h2 {
                font-family: 'Maax-Bold';
                font-size: var(--mv-fs-2);
                text-transform: uppercase;
                line-height: 1.25;
            }
        }
        &-block__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            padding: var(--mv-space-1);
            @include breakpoint (desktop) {
                justify-content: space-between;
                padding: 30px;
            }
            @include breakpoint (desktop-wide) {
                padding: clamp(30px, 5vw, 60px) var(--mv-space-1);
            }
            h2 {
                font-size: var(--mv-fs-2);
                margin: 20px 0;
                @include breakpoint (tablet) {
                    font-size: clamp(16px, 5vw, 20px);
                }
                @include breakpoint (desktop) {
                    margin: 0;
                    font-size: clamp(14px, 1.5vw, 20px);
                }
                @include breakpoint (desktop-wide) {
                    font-size: var(--mv-fs-2);
                }
            }
        }
        &-block__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: clamp(90px, 25vw, 200px);
            margin: 0 auto;
            @include breakpoint (tablet) {
                height: clamp(100px, 15vw, 200px);
            }
            @include breakpoint (desktop) {
                height: clamp(75px, 10vw, 200px);
            }
            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                @include breakpoint (desktop) {
                    max-width: 250px;
                }
            }             
        }
        &-block__trigger {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            padding: 15px 25px;
            color: $white;
            background: $blue-dark;
            border-radius: 50px;
            border: 2px solid $blue-dark;
            font-family: 'Maax-Bold';
            font-size: 16px;
            line-height: 1;
            letter-spacing: 1.5px;
            text-align: center;
            transform: translateZ(0);
            overflow: hidden;
            @include transition;
            @include breakpoint (desktop-wide) {
                font-size: var(--mv-fs-2);
            }
            &:hover {
                background: darken($blue-dark, 10%);
            }
        }
        &-block__bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__sources {
        margin-top: var(--mv-space-1);
        padding: var(--mv-space-1);
        background-color: $blue-med;
        color: $blue-dark;
        h2 {
            margin-bottom: 20px;
            font-family: 'Maax-Bold';
            text-transform: uppercase;
        }
        ol {
            margin: var(--mv-space-1) 0;
            padding: 0 0 0 20px;
            font-size: 14px;
            li {
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
            a {
                text-decoration: underline;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -ms-word-break: break-all;
                word-break: break-word;

            }
        }
        p {
            line-height: 1.25;
        }
    }
    &__popover {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        max-height: 90vh;
        max-width: 1160px;
        overflow-y: auto;
        &__title {
            position: relative;
            z-index: 10;
            background-color: $blue-med;
            max-width: 80%;
            margin-bottom: -50px;
            padding: 30px 60px 10px var(--mv-space-1);
            border-top-right-radius: 200px;
            @include breakpoint (desktop) {
                max-width: 40%;
            }
            h1 {
                color: $blue-dark;
                font-family: 'Maax-Bold';
                font-size: var(--mv-fs-2);
                line-height: 1.25;
                text-transform: uppercase;
            }
        }
        &__content {
            position: relative;
            padding: 80px var(--mv-space-1) 150px;
            background-color: $blue-med;
            @include breakpoint (desktop) {
                padding-bottom: 60px;
            }
            & > p {
                max-width: 750px;
            }
        }
        &__close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 30px;
            display: block;
            background: 0;
            border: 0;
            padding: 0;
            color: $dark;
            svg {
                width: 30px;
                height: 30px;
                path {
                    @include transition;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: $blue-dark;
                    }
                }
            }
        }
        &__top {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 100px;
            background: $blue-dark;
            border: 0;
            border-radius: 50px 50px 0 0;
            font-family: 'Maax-Bold';
            font-size: 10px;
            text-transform: uppercase;
            @include breakpoint (desktop) {
                display: none;
            }
            svg {
                width: 20px;
                margin-bottom: 5px;
            }
        }
        &__grid {
            display: flex;
            flex-direction: column;
            gap: var(--mv-space-1);
            margin: var(--mv-space-1) 0;
            @include breakpoint (desktop) {
                flex-direction: row;
            }
        }
        &__grid-block {
            flex: 1;
            background: $white;
            padding: var(--mv-space-1);
            text-align: center;
            font-size: 12px;
            img {
                margin: 0 0 20px;
            }
            h2 {
                font-family: 'Maax-Bold';
                font-size: var(--mv-fs-2);
                margin: 0 0 20px;
            }
            p {
                max-width: 600px;
                margin: 0 auto;
            }
        }
    }
}